html {
    overflow-x: hidden;
    z-index: 1;
    height: 100vh;
    position: fixed;
}

body {
    font-family: 'Inter';
    overflow-x: hidden;
    /* background-color: rgb(23, 23, 23); */
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

::-moz-selection {
    color: white;
    background-color: #cbcbcb !important;
  }
  
  ::selection {
    color: transparent;
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 10px;
    opacity: 0.5;
  }